<h1>Listing events</h1>

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Admin</th>
      <th>Title</th>
      <th>Description</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Full address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Repeat</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% if @my_events %>
      <% @my_events.each do |event| %>
        <tr>
          <td><%= gravatar_for(event.user) %> <br /> <%= link_to event.user.first_name + ' ' + event.user.last_name, event.user %></td>
          <td><%= link_to event.title, event %></td>
          <td><%= event.description %></td>
          <td><%= readable_date_from_timestamp(event.start_time) %></td>
          <td><%= readable_date_from_timestamp(event.end_time) %></td>
          <td><%= event.full_address %></td>
          <td><%= event.latitude %></td>
          <td><%= event.longitude %></td>
          <td><%= options_for_repeat(event.repeat) %></td>
          <td><%= event.status %></td>
          <td><%= link_to 'Edit', edit_event_path(event) %></td>
        </tr>
      <% end %>
    <% end %>
    <% @events.each do |event| %>
      <tr>
        <td><%= gravatar_for(event.user) %> <br /> <%= link_to event.user.first_name + ' ' + event.user.last_name, event.user %></td>
        <td><%= link_to event.title, event %></td>
        <td><%= event.description %></td>
        <td><%= readable_date_from_timestamp(event.start_time) %></td>
        <td><%= readable_date_from_timestamp(event.end_time) %></td>
        <td><%= event.full_address %></td>
        <td><%= event.latitude %></td>
        <td><%= event.longitude %></td>
        <td><%= options_for_repeat(event.repeat) %></td>
        <td><%= event.status %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
