<%= form_for(@invitation) do |f| %>
  <% if @invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2>

      <ul>
      <% @invitation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.hidden_field :user_id %>
    <input type="text" id="search_user_name" />
  </div>
  <div class="field">
    <%= f.label :event_id %><br>
    <%= f.select :event_id, options_from_collection_for_select(Event.where('user_id = ?', current_user.id), "id", "title") %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status, options_for_select(%w[Invited Rejected Attending Missed Attended Cancelled]) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
