<p id="notice"><%= notice %></p>

<p>
  <strong>Invitee:</strong>
  <%= gravatar_for(@invitation.user) %> <br /> <%= @invitation.user.first_name %> <%== @invitation.user.last_name %>
</p>

<p>
  <strong>Event:</strong>
  <%= link_to @invitation.event.title, "/events/#{@invitation.event.id}" %>
</p>

<p>
  <strong>Status:</strong>
  <%= @invitation.status %>
</p>

<%= link_to 'Edit', edit_invitation_path(@invitation) %> |
<%= link_to 'Back', invitations_path %>
