<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to (image_tag("logo_know_my_band.png", :alt=>"Know my Band")), root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Artists",     users_path %></li>
          <li><%= link_to "Events",      events_path %></li>
          <li><%= link_to "Invitations", invitations_path %></li>
          <li><%= link_to "Coming soon", '/coming-soon' %></li>
          <li><%= link_to "About us",    '/about-us' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
